{{> alert}}
<div class="columns">
  <div class="column col-md-12 col-6 login-card">
<div class="card form-group">
  <div class="card-header">
  <div class="card-title h4">Login Below</div>
  <form action="./login" method="POST">
    <label class="form-label" for="email">Email:</label>
    <input class="form-input" type="text" id="email" name="email"/>
    <label class="form-label" for="password">Password:</label>
    <input class="form-input" type="text" id="password" name="password"/>
    <button class="btn submit" type="submit">Login</button>
  </form>
</div>
<div class="card-footer">
  <h5>New to LaborHub? Click to register!</h5>
  <a href="/register">
    <button class="btn register">Register Here</button>
  </a>
</div>
</div>
</div>