<header class="navbar">
  <nav class="navbar-section">
    <h1 class="site-header">LaborHub</h1>
    {{! Mobile view Nav }}
    <div class="dropdown show-md">
      <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
        {{! Dropdown menu text can go here }}
        <i class="icon icon-menu"></i>
      </a>
      {{! Menu links  }}
      <ul class="menu">
        <a href="/" class="btn btn-link">HOME</a>
        <a href="/dashboard" class="btn btn-link">DASHBOARD</a>
        <a href="/login" class="btn btn-link">LOGIN</a>
      </ul>
    </div>

    {{! Desktop View Nav   }}
    <div class="hide-md desktop-navigation-list">
      <span><img
          src="./icons/home.svg"
          alt="home icon"
          height="20"
          width="20"
        />
        <a href="/" class="text-light">HOME</a></span>
      <span><img
          src="./icons/dashboard.svg"
          alt="home icon"
          height="20"
          width="20"
        /><a href="/dashboard" class="text-light">DASHBOARD</a></span>
      <span><img
          src="./icons/logout.svg"
          alt="home icon"
          height="20"
          width="20"
        /><a href="/login" class="text-light">LOGIN</a></span>
    </div>
  </nav>
</header>