<!--UPCOMING-->
<div class="card upcoming">
  <div class="card-header">
    <div class="card-title h5">Upcoming Payments</div>
    <div class="card-subtitle">Total ${{Dates.amount}} due by {{Dates.due_date}}</div>
  </div>
  <div class="card-body">
    Content Body
  </div>
</div>
<!--Make a Payment-->
<div class="card makepayment">
  <div class="card-header">
    <div class="card-title h5">Make a Payment</div>
    <div class="card-subtitle">Total ${{Dates.amount}} due by {{Dates.due_date}}</div>
  </div>
  <div class="card-body">
    ...
  </div>
  <div class="card-footer">
    <button class="btn btn-primary"><i class="fa-regular fa-money-bill" style="color: #EBEBEBff;"></i>Pay Now</button>
  </div>
</div>
<!--Payment History-->
<div class="card payhistory">
  <div class="card-header">
    <div class="card-title h5">Your Payment History</div>
  </div>
  <div class="card-body">
    
    <ul>
        <!--{{#each through PayHist date_id, due_date, paid}}-->
        <li>

        </li>
        <!--{{/each}}-->
    </ul>
  </div>
</div>