<div class="form-group">
  <h2>Register</h2>
  <form action="/register" method="POST">
    <label class="form-label" for="input-example-1">Choose a Username:</label>
    <input class="form-input" type="text" id="input-example-1" />
    <label class="form-label" for="input-example-1">Choose a Password:</label>
    <input class="form-input" type="text" id="input-example-1" />
    <button class="btn">Sign-Up</button>
  </form>
</div>