<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LaborHub</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
</head>

<body>
<header class="navbar">
        <section class="navbar-section">
            <h1 class="btn">LaborHub</h1>
            <a href="/" class="btn btn-link">HOME</a>
            <a href="/dashboard" class="btn btn-link">DASHBOARD</a>
            <a href="/login" class="btn btn-link">LOGIN</a>
        </section>
    </header>
    {{{body}}}
</body>

</html>
