<section class="card">
  <div class="card-header">
    <div class="card-title h5"><i class="icon icon-mail"></i>
      Messages and Notifications</div>
  </div>
  <div class="card-body">

    <ul class="menu">
      <li class="menu-item">
      <li class="menu-item"><a class="active" href="#menus">Inbox</a>
      </li>
      <li class="menu-item"><a href="#menus">Notifications</a>
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
      </li>
      <li class="menu-item"><a href="#menus">Message Union Representative</a></li>
    </ul>
  </div>
</section>