<div class="form-group">
    <h2>Login</h2>
    <label class="form-label" for="input-example-1">Username:</label>
    <input class="form-input" type="text" id="input-example-1" />
    <label class="form-label" for="input-example-1">Password:</label>
    <input class="form-input" type="text" id="input-example-1" />
    <button class="btn">Login</button>

</div>
<div class="">
    <h2>Sign-Up</h2>
    <label class="form-label" for="input-example-1">Choose a Username:</label>
    <input class="form-input" type="text" id="input-example-1" />
    <label class="form-label" for="input-example-1">Choose a Password:</label>
    <input class="form-input" type="text" id="input-example-1" />
    <button class="btn">Sign-Up</button>
</div>