:root {
    --light: #EBEBEBff;
    --dark: #0B1329ff;
    --gray: #929299ff;
    --darkblue: #183761ff;
    --lightblue: #2B5381ff;
    --rust: #A94B2Cff;
    --mustard: #FBBF30ff;
}

  body {
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    background-color: var(--light);
    color: var(--dark) !important;
    margin: 20px !important;
  }

/* NAVBAR */
.navbar-section {
    background-color: var(--darkblue);
    color: var(--light);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom:2rem;
}

/* CARDS */
.card {
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15)
}

.dashboard-content .column {
  padding: 0.4rem;
}

/* LINKS */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* REGISTER PAGE */
div.registercard{
  margin-bottom: 1rem;
}
button.submit {
  margin: 1rem;
  background-color: var(--mustard);
  border: var(--mustard);
}
p.exampletext {
  color: var(--gray)
}